@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/mixins.scss';

div {
    @include flex;
    flex-direction: column;
    width: 230px;
    align-items: flex-start;
    flex-shrink: 0;

    a {
        width: 120px;
        color: $secondary-color;
        background: none;
        cursor: pointer;
        margin-bottom: 40px;
        font-size: 18px;
        text-decoration: none;
    }

    .active-link{
        color: $primary-color;
    }
}

