@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/mixins.scss';


section {
    @include flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
}