<table>
    <tbody>
        <tr>
            <td>Year</td>
            
        </tr>
        <tr>
            <td>Released</td>
           
        </tr>
        <tr>
            <!-- <td>{countries.length > 1 ? "Countries" : "Country"}</td> -->
          <td>countries</td>
        </tr>
        <tr>
            <td>Actors</td>
         
        </tr>
        <tr>
            <td>Directors</td>
          
        </tr>
        <tr>
            <td>Writers</td>
           
        </tr>
    </tbody>
</table>
