@import '../../../../../assets/styles/pageStyles.scss';
@import '../../../../../assets/styles/mixins.scss';
@import '../../../../../assets/styles/variables.scss';

section {
    @include flex;
    align-items: flex-start;
    gap: 42px;

    .left-side {
        border-radius: 20px;
        overflow: hidden;
        max-width: 266px;
        height: 357px;
        align-self: flex-start;
        flex-shrink: 0;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .right-side {
        h1 {
            margin-bottom: 26px;
        }

        .movie-ratings {
            margin-bottom: 40px;

            span {
                background-color: $graphite;
                border-radius: 10px;
                padding: 4px 8px;
                color: $context-color-white;
                font-weight: 600;
                cursor: default;

            }

            span:first-of-type {
                background-color: $tertiary-color-green;
                margin-right: 5px;
            }

            span:nth-of-type(2)::before {
                content: "IMDb ";
                font-weight: 800;
            }
        }
        p {
            @include bodytext;
            margin-bottom: 40px;
        }
    }
}