<main>
    <app-aside></app-aside>
    <section>
        <div class="left-side">
            <img [src]="movie?.poster.url" [alt]="movie?.name">
            <button>Add to favorites</button>
        </div>
        <div class="right-side">
            <h1>{{movie?.name}}</h1>
            <div class="movie-ratings">
                <span title='Оценка Кинопоиска'>{{movie?.rating?.kp}}</span>
                <span title='Оценка Imdb'>{{movie?.rating?.imdb}}</span>
            </div>
            <p>{{movie.description}}</p>
            <app-movie-table-data></app-movie-table-data>
        </div>
    </section>
</main>